.container {

    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 25px;

}

h2{
    font-size: 50px;
    text-align: center;

}

p{
    font-size: 25px;
    padding: 25px;
    text-align: center;
}


 .a, .b, .c, #resetTimer, #submitBtn, #returnBtn, #startButton,#highScoreBtn{
    background-color: rgb(66, 3, 66);
    color:white;
    height: 35px;
    width:100px;
    margin: 10px;
    border-style: solid;
    border-color: rgb(12, 3, 12);
    border-width: 3px;
}

.a:hover, .b:hover, .c:hover, #resetTimer:hover, #submitBtn:hover,#startButton:hover, #returnBtn:hover, #highScoreBtn:hover{
    transform: translateY(-5px);
    border-color: rgb(218, 149, 218);
    color:violet;
}
  
   
#landing, #question1, #question2, #question3, #question4, #question5, #question6, #submit, #highScore{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-color: rgb(66, 3, 66);
    border-width: 5px;
    margin: 10px;
    position: relative;
}

#submit form{
    display: flex;
    flex-direction: column ;
    margin:5px;
}

#question1,#question2, #question3,
#question4,#question5,#question6 , #submit, #highScore{
    display:none;
}
